<h2>Experience</h2>
<section>
    <h3>Package Handler/Customer Center Clerk</h3>
    <h4>UPS</h4>
    <p>Gastonia, NC | Mar 2022 - Present</p>
    <ul>
        <li>Safely loading around 1,000 packages per shift, while adhering to safety guidelines.</li>
        <li>Assisting customers with package pick-up and tracking using company software.</li>
        <li>Auditing 1 to 20 international packages per shift to ensure proper documentation is provided.</li>
    </ul>
    <h3>Digital Content Writer</h3>
    <h4>Venture 4th Media</h4>
    <p>Remote | Jan 2022 - Jan 2023</p>
    <ul>
        <li>Wrote in-depth guides for the gaming-related websites Wasteland Gamers, Persona Fans, and SDew HQ.</li>
        <li>Ensured written content was error-free and followed company-provided style guidelines.</li>
        <li>Managed up to 3 projects simultaneously with the same deadline.</li>
        <li>Adhered to deadlines for delivery of written content to editors.</li>
    </ul>
    <h3>IT Consultant</h3>
    <h4>FDM Group</h4>
    <ul>
        <li>Completed training in HTML, CSS, JavaScript, Java, SQL, and software testing.</li>
        <li>Created React components for Project S.T.A.R., a program to assess potential FDM hires at job fairs through an interactive maze activity.</li>
        <li>Guided clients through software implementation and best practices as a customer success engineer during a contract placement with App Dynamics.</li>
    </ul>
    <h3>Assistant Language Teacher</h3>
    <h4>Fukui Board of Education</h4>
    <ul>
        <li>Assisted and led classes of over 25 students in lessons and activites focused on building confidence in English skills.</li>
        <li>Edited student essays and writing projects while providing simple word suggestions matching vocabulary level.</li>
        <li>Planned and managed Fukui City's 2016 English Summer Camp as the Chief Assistant Language Teacher by creating activities, contacting participating volunteers, and arranging student/teacher groups.</li>
    </ul>
</section>