<h2 id="portfolio">Portfolio</h2>
<section>
    <h3>Interactive World Map</h3>
    <p>An interactive world map that allows users to click on a country to display information.</p>
    <p>Skills: HTML, CSS, JavaScript, Angular, API calls, Git</p>
    <div>
        <a href="https://github.com/groovinflannel/mapApp" target="_blank"><button class="portfolio-button source-btn">Source Code</button></a>
        <a href="http://interactive-map.rf.gd/?i=1" target="_blank"><button class="portfolio-button">View Live</button></a>
    </div>
</section>
<section>
    <h3>Python Pong</h3>
    <p>A recreation of the classic Pong game.</p>
    <p>Skills: Python, Turtle Graphics, Git</p>
    <div>
        <a href="https://github.com/groovinflannel/python-pong" target="_blank"><button class="portfolio-button source-btn">Source Code</button></a>
    </div>
</section>
<section>
    <h3>SAFE Gardening</h3>
    <p>An international, open-source team project focused on redesigning the UI and UX of 
        the website of SAFE Gardening, a non-profit organization.
    </p>
    <p>Skills: HTML, SCSS, JavaScript, Git</p>
    <div>
        <a href="https://github.com/chingu-voyage4/Geckos-Team-15" target="_blank"><button class="portfolio-button source-btn">Source Code</button></a>
        <a href="https://chingu-voyage4.github.io/Geckos-Team-15/" target="_blank"><button class="portfolio-button">View Live</button></a>
    </div>
</section>
<section>
    <h3>My Portfolio Website</h3>
    <p>The website you're currently viewing!</p>
    <p>Skills: HTML, CSS, JavaScript, Angular, Git</p>
    <div>
        <a href="https://github.com/groovinflannel/portfolio2024" target="_blank"><button class="portfolio-button source-btn">Source Code</button></a>
    </div>
</section>
