#app-body {
    display: flex;
    justify-content: space-around;
    color: lightgray;
}

#about-me {
    position: sticky;
    padding: 2rem;
    top: 0;
    max-height: 100vh;
}

#content {
    padding: 2rem;
}

.section-component {
    transition: all .1s ease-out;
}

.section-component:hover {
    transition: all .05s ease-in;
    background-color: #090979;
    border: solid 1px lightgray;
    border-radius: 10px;
}

.section-padding {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    #app-body {
        display: flex;
        flex-direction: column;
    }

    #about-me {
        position: inherit;
    }
}