<div id="app-body">
  <header id="about-me">
    <app-home></app-home>
  </header>
  <main id="content">
    <section class="section-component section-padding">
      <app-about></app-about>
    </section>
    <section class="section-component section-padding">
      <app-education></app-education>
    </section>
    <section class="section-component section-padding">
      <app-experience></app-experience>
    </section>
    <section class="section-component section-padding">
      <app-portfolio></app-portfolio>
    </section>
  </main>
</div>