h1 {
    font-size: 52px;
}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

#nav-info {
    display: flex;
    flex-direction: column;
}

.nav-link {
    transition: all .25s ease-out;
    width: 30%;
}

.nav-link:hover, .icon-list li:hover {
    font-size: 24px;
    padding: .5rem;
    transition: all .25s ease-in;
}

.icon-list {
    display: flex;
    justify-content: left;
    transition: all .25s ease-out;
}

.icon-list li:first-child {
    margin-right: 15px;
}

.icon-list li {
    font-size: 20px;
    transition: all .25s ease-out;
}